<div class="blackout-container">
	<div class="blackout-heading-small">
		<h1 class="font-effect-canvas-print">BlackOut</h1>
		<p>
			Increasing the Knowledge of Personal Attributes and Behaviors of Specific Sets of Consumers by Large-scale Custom Analytics of Streams of Microblog Posts
		</p>
	</div>
	<p class="twitterid">{{twitterid}}</p>
	<div class="result-container">
		<div class="results"></div>

		<div class="console"></div>
	</div>


	<div class="blackout-console" console-scroll>
		<p ng-repeat="msg in consoleMsgs track by $index">{{msg}}</p>
	</div>

</div>