<div class="result-container clearfix">
	<p class="twitterid">@{{twitterId}}</p>
	<div id="blackout-results">
		<div class="bo-options">
			<div class="checkbox">
				<span class="bo-info glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="openInfoModal()" title="Click here to see information process"></span>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="roptions.showUsefulOnly"> Only show useful tokens
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="roptions.expandAll"> Expand all
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="roptions.oneAtTime"> Only one expanded at time
				</label>
			</div>		
		</div>
		<accordion close-others="roptions.oneAtTime">
			<accordion-group ng-repeat="aResult in results track by $index" is-open="aResult.isOpen">
				<accordion-heading>
					<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> 
					<span ng-bind-html="aResult.tweet" class="tweet">{{aResult.tweet}}</span>
					<br />
					<span class="tweetRank">Tweet rank - {{aResult.tweetRank}}</span>
				</accordion-heading>
				<div class="token-obj" ng-repeat="aToken in aResult.tokens track by $index" ng-class="{ 'useful-token' : aToken.matched }" ng-hide="roptions.showUsefulOnly && !aToken.matched">
					<div class="token-info">Token: {{aToken.token}}</div>
					<div class="token-info">Tag: {{aToken.tag}}</div>
					<div class="token-info" ng-show="aToken.matched">Matched: {{aToken.matched}}</div>
					<div class="token-info" ng-show="aToken.matchedPart">Matched part(in aliases): <span ng-bind-html="aToken.matchedPart">{{aToken.matchedPart}}</span></div>
					<div class="token-info" ng-show="aToken.matchScore">Match score: {{aToken.matchScore}}</div>
					<div class="token-info" ng-show="aToken.domainScore">Freebase soccer domain score: {{aToken.domainScore}}</div>
					<div class="token-info" ng-show="aToken.generalScore">Freebase general score: {{aToken.generalScore}}</div>
					<div class="token-info" ng-show="aToken.pathWeight">Graph model weight: {{aToken.pathWeight}}</div>
					<div class="token-info">Computed rank: {{aToken.rank}}</div>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<div class="blackout-console" console-scroll>
		<p ng-repeat="msg in consoleMsgs track by $index">{{msg}}</p>
	</div>				
</div>
