<div class="search-container">
	<div class="input-group input-group-lg">
		<input type="text" class="form-control" placeholder="Enter a Twitter ID" ng-model="twitterId"/>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="testing()"><span class="glyphicon glyphicon-play"></span></button>
		</span>			
	</div>	
</div>
<div class="blackout-console" console-scroll>
	<p ng-repeat="msg in consoleMsgs track by $index">{{msg}}</p>
</div>		