<div class="blackout-container main-container">

	<div class="blackout-heading" blackout-heading></div>
	<!-- <div ng-class="headingClassVar" blackout-heading></div> -->

	<div class="wrapper" template-switcher>
		<div class="search-container">
			<!-- <form name="tidinput" novalidate role="form" ng-submit="testing()"> -->
			<form name="tidinput" novalidate role="form" ng-submit="startProcess()">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Enter a Twitter ID" ng-model="twitterId" required/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-play"></span></button>
					</span>			
				</div>	
				<div ng-show="tidinput.$invalid">
					<p class="form-error-msg"><em>Please enter a valid twitterId.</em></p>
				</div>				
			</form>
		</div>
	</div>
</div>