/*
 "THE BEER-WARE LICENSE" (Revision 42):
 <Pragati Sureka> wrote this file. As long as you retain this notice you
 can do whatever you want with this stuff. If we meet some day, and you think
 this stuff is worth it, you can buy me a beer in return Pragati Sureka
 */
/* 
Created on : Oct 8, 2014, 8:18:53 PM
Author     : lk
*/


html, body {
	height: 100%;
}

body {
	background-color: #30333E;
}

.blackout-container {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: #30333E;
	color: #fff;
}

.main-container {
	box-shadow: 0 0 120px rgba(0, 0, 0, 0.5) inset;
}

.blackout-heading {
	text-align: center;
	margin-top: 150px;
}

.blackout-heading .font-effect-canvas-print{
	color: #BFBCB8;
}

.blackout-heading h1 {
	font-family: 'Audiowide', cursive;
	font-size: 85px;
}

.blackout-heading p {
	color: #FAFAFA;
	font-size: 10px;
	font-family: sans-serif;
	margin-top: -17px;
}

.blackout-heading-small-add, .blackout-heading-small-remove,
.blackout-heading-small-add h1,
.blackout-heading-small-add p,
.search-container.ng-leave {
	-webkit-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.75s;
	-moz-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.75s;
	-o-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.75s;
	transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.75s;
}

.blackout-heading-small,
.blackout-heading-small-add.blackout-heading-small-add-active {
	text-align: center;
	margin-top: 0px;
}

.blackout-heading-small .font-effect-canvas-print{
	color: #BFBCB8;
}

.blackout-heading-small h1,
.blackout-heading-small-add.blackout-heading-small-add-active h1 {
	font-family: 'Audiowide', cursive;
	font-size: 35px;
}

.blackout-heading-small p,
.blackout-heading-small-add.blackout-heading-small-add-active p {
	color: #FAFAFA;
	font-size: 9px;
	font-family: sans-serif;
	margin-top: -10px;
}

.search-container {
	margin-top: 20px;
	width: 600px;
	margin: 35px auto auto;
}

.search-container.ng-leave {
	-webkit-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
	-moz-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
	-o-transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
	transition:all cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

.search-container.ng-leave, 
.search-container.ng-leave-active {
	opacity: 0;
	height: 1px;
}

/****************************************
			results
****************************************/


.result-container {
	width: 1150px;
	margin: 0 auto;
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 300;
}

.twitterid {
	font-size: 30px;
	text-align: center;
}

#blackout-results {
	width: 850px;
	float: left;	
}

#blackout-results .token {
	text-decoration: none;
	border-bottom: 1px dotted;
	cursor: pointer;
	color: inherit;
}

#blackout-results .tweet {
	font-size: 15px;
	margin-left: 10px;
}

.bo-info {
	font-size: 25px;
	margin-right: 25px;
	margin-left: 10px;
	top: 9px;
	cursor: pointer;
}

#blackout-results .panel {
	background-color: transparent;
}

#blackout-results .panel-default {
	border: none;
	box-shadow: 0 2px 1px rgba(255, 255, 255, .05);
	border-bottom: 1px groove #666666;	
}

#blackout-results .panel-default > .panel-heading {
	background-color: transparent;
	color: inherit;
}

#blackout-results .panel-title {
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

#blackout-results .panel-title > a,
#blackout-results .panel-title > a:hover,
#blackout-results .panel-title > a:active {
	text-decoration: none;
}

#blackout-results .panel-group .panel-heading + .panel-collapse > .panel-body {
	border: none;
}

.token-obj {
	background-color: #e7e7e7;
	border: 1px solid #cccccc;
	border-radius: 4px;
	color: #333333;
	line-height: 19px;
	margin-bottom: 10px;
	padding: 9px;
	font-family: Consolas, monospace, Menlo, Monaco, 'Courier New';
	font-weight: normal;
}

.token-obj.useful-token {
	background-color: #f5f5E4;
}

.token-obj em {
	font-weight: bold;
}

/****************************************
			console
****************************************/

.result-container .blackout-console {
	font-size: 12px;
	width: 300px;
	float: left;	
	border-left: 2px groove #666666;
	height: 300px;
	overflow: auto;
	padding-left: 5px; 
}

/****************************************
			modal
****************************************/
.info-modal .modal-dialog {
	border-radius: 5px;
}

.info-modal .modal-header {
	background-color: #f5f5e5;
	text-align: center;
	border-radius: 4px 4px 0 0;
}

.info-modal .modal-body {
	background-color: #f5f5f5;
}

.info-modal .modal-footer {
	background-color: #f5f5e5;
	border-radius: 0 0 4px 4px;
}



/*.blackout-console {
	font-family: monospace;
	font-size: 12px;
	width: 550px;
	margin: 20px auto auto;	
	height: 165px;
	overflow: auto;
}*/